@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

:root{
--background: linear-gradient(135deg, #667eea7e 0%, #764ba298 100%);
--color-primary:#667eea;
--color-secondary:#764ba2;
--boton-padding:20px 40px;
}


body {
    font-family: 'Raleway', sans-serif;
    
} 

.cabecera{
  margin: 50px;
}

.title__cabecera{
    font-size: 30px;
    text-align: center;
    font-weight: 700;
}
.icons{
    text-align: center;
}
.fab{

    font-size: 50px;
    color: var(--color-primary);
    padding: 20px;
    
}

.container__icons{
    border-radius: 10px;
    border: 1px solid #667eea7e;
    width: 25%;
    background-color:#667eea46;
    height: 100px;
}
.container__icons:hover{

    border-radius: 10px;
    border: 1px solid #667eea7e;
    height: 100px;
    background-color:#ffff;
    cursor: pointer;

}



.botones{
    text-align: center;
}

#pruebas{
    font-size: small;
}

